<h1 style="font-size: 24px;">Main Title</h1>

### Table of Contents

- [1. Introduction](#section-1)
- [2. Research Questions](#section-2)
- [3. Data Description](#section-3)
- [4. Data Acquisition and Pre-processing](#section-4)
### 1. Introduction <!-- {#section-1} -->

### 2. Research Questions<!-- {#section-2} -->

1. How did students perceive their educational experience based upon the subject of degree they studied?
2.
3.

### 3. Data Description<!-- {#section-3} -->

1. Student ratings of varying aspects of their educational experience by subject of study
 - Student ratings were acquired from the National Student Survey, where results were filtered by provider, which was chosen as LSE.
 
 - Once acquired, the data was filtered to only include undergraduate, full-time student data, to avoid overcomplicating the analysis and adding unnecessary noise to our analysis. 
 
 - Student ratings were obtained upon 
   - Quality of Teaching
   - Learning Opportunities
   - Assessment and Feedback
   - Academic Support
   - Organisation and Management
   - Learning Resources
   - Student Voice
 - There was no missing data for any of the entries. However, due to the way the subjects were sorted, we used the most precise definition of subject to identify each subjet. For example, we did not use data for 'Mathematical Sciences', and instead used data for 'Mathematics' and 'Statistics' seperately.

2. Reddit posts and comments
- Reddit posts and their comments were obtained from the "r/6thform" subreddit using the Reddit API. 
- Posts collected were posts related to or containing keywords such as the abbreviated university names e.g. LSE
- Data from the Reddit posts was ot only collected about LSE but also UCL, Imperial College London, Kings College London and Oxbridge universities. 
- Additional information about the posts were also obtained such as the flair associated with the post and the date that each comment and post was posted to the subreddit

### 4. Data Acquisition and EDA<!-- {#section-4} -->

<p style="font-size: 18px;">4.1 Imported Libraries</p>

In [24]:
import pandas as pd
import numpy as np
import regex
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import t
import import_ipynb

import json
import praw # importing praw to access reddit api
import nltk # importing nltk to acc
from nltk.sentiment import SentimentIntensityAnalyzer
from nltk import sent_tokenize
from warnings
import re
from datetime import datetime
import emoji
import ast
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from scipy import stats

%run positivity.ipynb

<p style="font-size: 18px;">4.2 Student Rating Data</p>

After some EDA, we filtered the data to only include data on undergraduates students in full-time study. Following this, we sorted the subjects to include only specific subject studies (such as mathematics), instead of overarching subject titles (such as Mathematical Sciences). The specific subject codes were noted to have been of the form CAH00-00-00 where the 0 entries could take any numerical value, hence they were sorted as such. Some of the EDA is shown below, with the rest being accessible in the positivity.ipynb notebook.

In [33]:
print('Number of subjects are', len(unique_subjects))
print('Number of Entries are', len(df))
print('Number of Questions is', len(unique_questions))
print(unique_level_of_study)
df.head(3)

Number of subjects are 28
Number of Entries are 544
Number of Questions is 34
['All undergraduates' 'First degree']

3,Mode of study,Level of study,Subject level,Subject code,Subject,Question,Responses,Population,Suppression reason,Option 1,...,Positivity measure (%),Benchmark (%),Difference (ppt),Standard deviation,Contribution to benchmark (%),Materially below benchmark (%),Broadly in line with benchmark (%),Materially above benchmark (%),Publication response headcount,Publication response rate (%)
0,Full-time,All undergraduates,CAH3,CAH04-01-01,Psychology (non-specific),Q01: How good are teaching staff at explaining...,30,30,NaN,20,...,100,93.1,6.9,3.6,1.1,0.4,10.6,88.9,30,100
1,Full-time,All undergraduates,CAH3,CAH04-01-01,Psychology (non-specific),Q02: How often do teaching staff make the subj...,30,30,NaN,18,...,96.7,78.8,17.8,6.1,1.1,0,0.5,99.4,30,100
2,Full-time,All undergraduates,CAH3,CAH04-01-01,Psychology (non-specific),Q03: How often is the course intellectually st...,30,30,NaN,19,...,100,84.9,15.1,4.8,1.1,0,0.4,99.6,30,100

Following this, we noted that there were many questions for each subject. So we further filtered and created new dataframes, with 1 for each of the 7 themes mentioned earlier. The data was now ready to be analysed. One example is shown directly below.

In [31]:
df_theme_1.head(20)

3,Subject,Population,Positivity measure (%),Publication response rate (%)
0,Psychology (non-specific),30,99.2,100
1,Mathematics,143.6,73.7,61.8
2,Statistics,69.9,71.1,65.5
3,Sociology,58.7,87.2,73.3
4,Social policy,51.2,89.9,73.3
5,Anthropology,54.5,93.6,67.9
6,Economics,458.9,84.1,64.9
7,Politics,238.7,89.2,72.8
8,Law,198.5,93.3,59.4
9,Management studies,168,88.1,58.9
10,Finance,103.9,87,75.7
11,Accounting,47.3,89.8,69.1
12,Asian studies,7.1,90.9,83.8
13,History,132.2,90.3,73.8
14,Philosophy,53.2,90.4,68.4
15,Human geography,69.4,77.8,70.2

### 5. Data Analysis